@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@mixin breakpoint($point) {
	@if $point==sm {
		@media (min-width: 576px) {
			@content;
		}
	} @else if $point==max-sm {
		@media (max-width: 575px) {
			@content;
		}
	} @else if $point==md {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $point==max-md {
		@media (max-width: 767px) {
			@content;
		}
	} @else if $point==lg {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $point==max-lg {
		@media (max-width: 991px) {
			@content;
		}
	} @else if $point==xl {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $point==max-xl {
		@media (max-width: 1199px) {
			@content;
		}
	} @else if $point==xxl {
		@media (min-width: 1400px) {
			@content;
		}
	} @else if $point==max-xxl {
		@media (max-width: 1399px) {
			@content;
		}
	}
}

:root {
	--title: #09080d;
	--title-rgb: 0, 0, 0;
	--text: #7d7c84;
	--body: #ffffff;
	--section: #e9ebed;
	--dark: #232b32;
	--dark-2: #2e3443;
	--dark-3: #404656;
	--white: #ffffff;
	--base: #007483;
	--btn-hover: rgba(208, 220, 231, 0.1);
	--redish: #f563a9;
	--body-fonts: "Poppins", sans-serif;
	--fonts-2: "Gowun Batang", serif;
	--border: #e9ebed;
}

body {
	background: var(--body);
	font-family: var(--body-fonts);
	color: var(--text);
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--title);
	font-family: var(--body-fonts);
	font-weight: 600;
}

h1 {
	font-size: 64px;
}
h2 {
	font-size: 48px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
	line-height: 32px;
}
h5 {
	font-size: 20px;
	line-height: 28px;
}
h6 {
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
}
@include breakpoint(max-md) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 26px;
	}
	h4 {
		font-size: 22px;
	}
	h5 {
		font-size: 18px;
	}
	h6 {
		font-size: 16px;
	}
}
@include breakpoint(max-sm) {
	h1 {
		font-size: 32px;
		line-height: 48px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 18px;
	}
	h6 {
		font-size: 16px;
	}
}
ul {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	transition: all ease 0.3s;
}
.font-light {
	font-weight: 300;
}
.font-regular {
	font-weight: 400;
}
.font-medium {
	font-weight: 500;
}
.font-semibold {
	font-weight: 600;
}
.font-bold {
	font-weight: 700;
}
.font-extra-bold {
	font-weight: 800;
}
.font-black {
	font-weight: 900;
}
@include breakpoint(xl) {
	.container {
		max-width: 1230px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.container {
	position: relative;
	z-index: 1;
}
.bg-section {
	background: var(--section) !important;
}
.bg-body {
	background: var(--body) !important;
}

header {
	padding: 24px 0;
	// position: fixed;
	top: 0;
	.menu-toggle {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 32px;
		z-index: 9;
		&.moveRight {
			left: unset;
			right: 30px;
		}
	}
	width: 100%;
	position: sticky;
	z-index: 9;
	border-bottom: 1px solid transparent;
	transition: all ease 0.3s;
	&.sticky {
		background: linear-gradient(
			180deg,
			rgba(252, 252, 253, 0.9) 0%,
			#fcfcfd 100%
		);
		// backdrop-filter: blur(16px);
		border-color: var(--border);
	}
	@include breakpoint(max-lg) {
		padding: 33px 0;
		background: var(--body);
	}
}
.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
	.logo {
		display: block;
		width: 116px;
		margin-right: auto;
		img {
			max-width: 100%;
		}
	}
	.menu-area {
		width: 0;
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include breakpoint(lg) {
			max-width: 803px;
			@include breakpoint(max-xl) {
				max-width: 600px;
			}
		}
		.menu {
			display: flex;
			flex-wrap: wrap;
			column-gap: 56px;
			li {
				a {
					font-weight: 500;
					font-size: 16px;
					line-height: 24px;
					// color: var(--title);
					color: #333333;
					&:hover,
					&.active {
						color: var(--base);
					}
				}
				@include breakpoint(lg) {
					position: relative;
					.submenu {
						position: absolute;
						padding: 20px 32px;
						width: 332px;
						box-shadow: 0 0 25px rgba(15, 15, 15, 0.08);
						border: none;
						background: #ffffff;
						border-radius: 12px;
						display: flex;
						flex-direction: column;
						top: calc(100% + 20px);
						transition: all ease 0.3s;
						li {
							a {
								padding: 3px 0;
								font-size: 14px;
								display: block;
								&:hover {
									padding-left: 5px;
								}
							}
						}
					}
					&:not(:hover) {
						.submenu {
							visibility: hidden;
							opacity: 0;
							transform: translateY(-15px);
						}
					}
				}
			}
		}
		.lang-area {
			display: flex;
			gap: 32px;
			align-items: center;
			.top-badge {
				position: absolute;
				background: var(--base);
				border: 1px solid #fbfbfc;
				border-radius: 16px;
				display: block;
				width: 20px;
				height: 20px;
				left: 20px;
				top: 0px;
				color: var(--white);
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				text-align: center;
			}
		}
		@include breakpoint(max-xl) {
			.menu {
				column-gap: 25px;
			}
			.lang-area {
				display: flex;
				gap: 0;
			}
		}
	}
	@include breakpoint(max-lg) {
		.logo {
			margin-left: auto;
		}
		.__profile-dropdown {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 32px;
		}
		.menu-area {
			position: fixed;
			top: 92px;
			left: 0;
			width: 100%;
			min-height: calc(100vh - 92px);
			flex-direction: column;
			overflow-y: auto;
			flex-grow: 1;
			justify-content: center;
			background: var(--white);
			z-index: 9999;
			.lang-area {
				order: -1;
				display: none;
			}
			.menu {
				flex-direction: column;
				flex-wrap: wrap;
				gap: 24px;
				flex-grow: 1;
				// align-items: center;
				li {
					width: 100%;
					a {
						font-size: 24px;
						line-height: 40px;
						text-align: center;
						display: block;
					}
				}
				.submenu {
					display: none;
				}
			}
			&.submenu-open {
				form {
					display: none;
				}
				.close-when-submenu {
					display: none;
				}
				.menu {
					> li:not(.submenu-parent) {
						display: none;
					}
					.submenu {
						display: block;
						li {
							a {
								font-size: 20px;
							}
						}
					}
					.submenu-parent {
						> a {
							display: none;
						}
					}
				}
			}
			transition: all ease 0.3s;
			&:not(.open) {
				transform: scale(0.9);
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}
.visibility-lg-hidden {
	@include breakpoint(lg) {
		visibility: hidden;
	}
}
.__dropdown-language {
	position: relative;
	cursor: pointer;
	display: inline-block;
	.__dropdown-active {
		// background: var(--section);
		// background: var(--base);
		// border: 1px solid var(--border);
		// padding: 8px 16px;
		// min-width: 135px;
		// min-height: 50px;
		// border-radius: 25px;
		color: var(--title);
		display: flex;
		align-items: center;
		gap: 8px;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		border: none;
		background: transparent;
		@include breakpoint(max-lg) {
			justify-content: center;
		}
		span {
			// padding-right: 18px;
			white-space: nowrap;
			// margin-right: auto;
		}
		@include breakpoint(max-xl) {
			min-width: 100px;
			font-size: 12px;
			min-height: 40px;
		}
	}
	img {
		width: 24px;
		aspect-ratio: 1;
		object-fit: cover;
		margin-right: 13px;
		border-radius: 50%;
		// @include breakpoint(lg) {
		@include breakpoint(max-xl) {
			width: 26px;
		}
		// }
	}
}
.__dropdown-menu {
	position: absolute;
	top: 100%;
	right: 0;
	background: var(--section);
	border: 1px solid rgba(#130f26, 0.2);
	width: 100%;
	min-width: 150px;
	border-radius: 8px;
	z-index: 999;
	color: var(--title);
	background: var(--body);
	font-size: 14px;
	li {
		padding: 6px 15px;
		&.active {
			background: var(--base);
			color: var(--white);
		}
		&:first-child {
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
		}
		&:last-child {
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
		}
	}
	transition: all ease 0.3s;
	&:not(.active) {
		opacity: 0;
		visibility: hidden;
		transform: translateY(10px);
	}
}
.__profile-dropdown {
	.__dropdown-menu {
		padding: 32px;
		width: 332px;
		box-shadow: 0px 64px 64px -32px rgba(15, 15, 15, 0.08);
		border: none;
		background: #ffffff;
		border-radius: 12px;
		@include breakpoint(max-sm) {
			width: 260px;
			padding: 20px;
			.__profile-dropdown-menu {
				gap: 4px;
				li {
					a {
						font-size: 15px;
					}
				}
			}
			.btn-wrapper {
				gap: 12px;
			}
		}
	}
}
.__dropdown-icon {
	outline: none;
	border: none;
	box-shadow: none;
	background: transparent;
	color: var(--base);
}
.__profile-dropdown-menu {
	display: flex;
	flex-direction: column;
	gap: 16px;
	li {
		padding: 0;
		a {
			padding: 0;
			display: flex;
			align-items: center;
			gap: 4px;
			&:hover {
				color: var(--base);
			}
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: var(--title);
			letter-spacing: 0.005em;
		}
	}
}
.btn-wrapper {
	gap: 24px;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	margin-top: 32px;
	> a,
	button {
		flex-grow: 1;
		width: 0;
	}
}
.cmn-btn {
	background: var(--base);
	color: var(--title);
	border-radius: 100px;
	line-height: 24px;
	padding: 10px 20px;
	border: 1px solid var(--base);
	outline: none;
	color: var(--white);
	transition: all ease 0.3s;
	text-align: center;
	display: block;
	&:hover {
		color: var(--base);
		background: transparent;
	}
}
.cmn-outline-btn {
	border-radius: 100px;
	line-height: 24px;
	padding: 10px 20px;
	border: 1px solid var(--base);
	outline: none;
	color: var(--base);
	background: transparent;
	transition: all ease 0.3s;
	text-align: center;
	display: block;
	&:hover {
		color: var(--white);
		background: var(--base);
	}
}
.mobile-menu-bottom {
	width: 100%;
	padding: 18px;
	.social-icons {
		margin-top: 78px;
	}
}
.social-icons {
	display: flex;
	gap: 12px;
	a {
		display: block;
		img {
			max-width: 100%;
		}
	}
}
.search-form {
	display: block;
	input {
		width: 100%;
		height: 48px;
		padding-left: 48px;
		border: 2px solid #f6f7fb;
		outline: none;
		box-shadow: none;
		border-radius: 100px;
	}
	position: relative;
	.icon {
		position: absolute;
		left: 16px;
		top: 12px;
	}
	margin-block: 56px;
}
.px-32 {
	padding-inline: 32px;
}
.py-32 {
	padding-block: 32px;
}
.pb-32 {
	padding-bottom: 32px;
}
.pt-32 {
	padding-top: 32px;
}
.header-leaf {
	top: 0;
	right: calc(50% + 300px);
	position: absolute;
	top: 0;
	img {
		max-width: 100%;
	}
	@include breakpoint(max-xl) {
		right: calc(50% + 220px);
		width: 120px;
	}
	// z-index: 10;
	@include breakpoint(max-lg) {
		display: none;
	}
}
.landing-page-banner-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 70px 0 40px;
	min-height: calc(100vh - 100px);
	align-items: center;
	.content-area {
		width: 100%;
		max-width: 532px;
		* {
			white-space: initial;
			word-break: break-all;
		}
		.cmn-btn {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			min-height: 48px;
			gap: 8px;
			@include breakpoint(md) {
				min-width: 142px;
				min-height: 56px;
			}
		}
		.subtitle {
			margin-bottom: 16px;
		}
		.title {
			font-size: 88px;
			font-weight: 700;
			font-size: 96px;
			font-family: var(--fonts-2);
			color: var(--base);
			margin-bottom: 16px;
		}
		p {
			margin-bottom: 62px;
			@include breakpoint(sm) {
				font-weight: 400;
				font-size: 20px;
				line-height: 24px;
				/* or 120% */

				letter-spacing: 0.005em;
			}
		}
		.content {
			max-width: 459px;
			padding-right: 20px;
			@include breakpoint(max-sm) {
				padding-inline: 32px;
			}
		}
		@include breakpoint(max-xl) {
			@include breakpoint(lg) {
				max-width: 400px;
				.title {
					font-size: 60px;
				}
				p {
					font-size: 18px;
					margin-bottom: 40px;
				}
			}
		}
		@include breakpoint(max-md) {
			.content {
				max-width: 100%;
			}
			.title {
				font-size: 70px;
			}
			p {
				font-size: 18px;
				margin-bottom: 40px;
			}
		}
		@include breakpoint(max-sm) {
			.title {
				font-size: 64px;
			}
			p {
				font-size: 18px;
				margin-bottom: 40px;
			}
		}
		@media screen and (max-width: 360px) {
			.title {
				font-size: 55px;
			}
			p {
				font-size: 17px;
				margin-bottom: 35px;
			}
		}
	}
	.images-area {
		width: 0;
		flex-grow: 1;
		display: flex;
		gap: 24px;
		.item {
			width: 0;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			text-align: center;
			gap: 50px;
			img {
				width: 100%;
			}
			&:nth-child(even) {
				flex-direction: column-reverse;
				padding-top: 5px;
			}
			&:nth-child(odd) {
				padding-bottom: 5px;
			}
			.title {
				color: var(--base);
				font-weight: 700;
				font-size: 120px;
				line-height: 1;
				margin: 0;
				@include breakpoint(max-xxl) {
					font-size: 96px;
				}
			}
			@include breakpoint(max-xl) {
				@include breakpoint(lg) {
					gap: 30px;
				}
			}
		}
		@include breakpoint(max-md) {
			gap: 17px;
			flex-wrap: wrap;
			.item {
				width: 100%;
				flex-direction: row;
				padding: 0 !important;
				&:nth-child(even) {
					flex-direction: row-reverse;
				}
				gap: 30px;
				// .title {
				// 	flex-grow: 1;
				// }
				img {
					width: 410px;
					flex-grow: 1;
				}
				.title {
					font-size: 70px;
					align-self: center;
				}
			}
		}
		@media (max-width: 500px) {
			.item {
				gap: 20px;
				img {
					width: 380px;
				}
				.title {
					font-size: 65px;
					margin-inline: auto;
				}
			}
		}
		@media (max-width: 470px) {
			.item {
				img {
					width: 350px;
				}
				.title {
					font-size: 55px;
				}
			}
		}
		@media (max-width: 430px) {
			.item {
				img {
					width: 300px;
				}
			}
		}
		@media (max-width: 400px) {
			.item {
				img {
					width: 280px;
				}
			}
		}
		@media (max-width: 375px) {
			.item {
				img {
					width: 236px;
				}
				.title {
					padding: 0 15px;
				}
			}
		}
		@media (max-width: 350px) {
			.item {
				img {
					width: 206px;
				}
				.title {
					font-size: 50px;
				}
			}
		}
	}
	@include breakpoint(max-lg) {
		flex-wrap: wrap;
		gap: 50px;
		padding-block: 65px;
		.images-area,
		.content-area {
			width: 100%;
		}
		.content-area {
			.content {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				p {
					margin-bottom: 42px;
				}
				.subtitle {
					order: -1;
					margin-bottom: 0;
				}
				.title {
					margin-bottom: 0;
				}
			}
		}
	}
	@include breakpoint(max-sm) {
		overflow: hidden;
	}
}
.landing-banner {
	.container {
		@include breakpoint(xl) {
			max-width: 1323px;
		}
		@include breakpoint(max-lg) {
			padding: 0;
		}
	}
}
.modal-close {
	border: none;
	background: transparent;
	outline: none;
	box-shadow: none;
	svg {
		box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.1);
		width: 32px;
		height: unset;
	}
	position: absolute;
	right: -9px;
	top: -9px;
}
.modal {
	background: rgba(144, 144, 144, 0.5);
}
.modal-md {
	max-width: 596px;
}
.modal-content {
	border: none;
}
.modal-body {
	background: #fcfcfd;
	box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.08);
	border-radius: 24px;
	padding: 48px;
	border: none;
	.logo {
		display: block;
		max-width: 116px;
		margin: 0 auto 32px;
	}
}

.auth-content {
	.subtitle {
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: var(--base);
	}
	.title {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 25px;
	}
	@include breakpoint(sm) {
		.title {
			margin-inline: auto;
			margin-bottom: 48px;
			max-width: 294px;
		}
	}
}
.input-item {
	&:not(:last-child) {
		margin-bottom: 32px;
	}
	.form-control {
		height: 56px;
		border-radius: 24px;
		box-shadow: none !important;
		outline: none !important;
		padding-inline: 16px;
		&:focus {
			border-color: var(--base);
		}
		&::placeholder {
			color: #a2a1a7;
		}
	}
	label {
		letter-spacing: 0.005em;
		display: block;
		color: #2e2f3a;
		text-align: start;
		margin-bottom: 5px;
	}
	.view-pass-btn {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
}
.auth-content {
	.cmn-btn {
		height: 48px;
		@include breakpoint(sm) {
			height: 56px;
		}
	}
	.subtext {
		max-width: 352px;
		margin: 0 auto 25px;
		@include breakpoint(sm) {
			margin: 0 auto 48px;
		}
	}
	.link-sent {
		margin-bottom: 48px;
		@include breakpoint(max-sm) {
			margin-bottom: 35px;
		}
	}
}
.my-32,
.mt-32 {
	margin-top: 32px;
}
.mb-32,
.my-32 {
	margin-bottom: 28px;
}

@include breakpoint(max-sm) {
	.my-32,
	.mt-32 {
		margin-top: 27px;
	}
	.mb-32,
	.my-32 {
		margin-bottom: 27px;
	}
}
.text-base {
	color: var(--base);
	cursor: pointer;
}
.text-body {
	color: var(--text) !important;
}
.cursor-pointer {
	cursor: pointer;
}
.signup-content {
	@include breakpoint(sm) {
		.input-item {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		.my-32 {
			margin-block: 20px;
		}
		.mt-32 {
			margin-top: 20px;
		}
		.mb-32 {
			margin-bottom: 20px;
		}
	}
}
.link-sent {
	display: flex;
	gap: 12px;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.005em;
	color: var(--text);
	text-align: start;
	.info {
		width: 0;
		flex-grow: 1;
	}
}
.auth-section {
	padding: 53px 0 65px;
	.container {
		@include breakpoint(max-sm) {
			padding-inline: 32px;
		}
	}
}
footer {
	padding: 120px 0 80px;

	@include breakpoint(max-sm) {
		padding: 65px 0 45px;
		.container {
			padding-inline: 32px;
		}
	}
	.bottom {
		h6 {
			font-weight: 700;
			font-size: 20px;
			line-height: 32px;
			color: var(--title);
			margin-bottom: 16px;
		}
		ul {
			display: flex;
			gap: 16px;
			flex-direction: column;
			li {
				a {
					color: #1a202c;
					transition: all ease 0.3s;
					&:hover {
						color: var(--base);
						padding-left: 5px;
					}
				}
			}
		}
	}
}
.footer-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 55px;
	.left {
		max-width: 367px;
		white-space: initial;
		word-break: break-all;
		.logo {
			margin-bottom: 12px;
		}
		p {
			margin-bottom: 25px;
		}
	}
	.right {
		margin-inline-start: auto;
		.footer-links {
			display: flex;
			flex-wrap: wrap;
			column-gap: 56px;
			row-gap: 10px;
			li {
				a {
					font-weight: 500;
					letter-spacing: 0.005em;
					color: var(--title);
				}
			}
			@include breakpoint(max-lg) {
				column-gap: 25px;
				margin-bottom: 35px;
			}
			margin-bottom: 40px;
		}
		h5 {
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 10px;
		}
	}
}
.subscribe-form {
	max-width: 256px;
	.form-control {
		height: 48px;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.005em;
		color: #7d7c84;
		box-shadow: none;
		outline: none;
		border-radius: 25px;
		padding-inline: 16px;
		&:focus {
			border-color: var(--base);
		}
	}
	button {
		outline: none;
		box-shadow: none;
		border: none;
		position: absolute;
		right: 8px;
		top: 8px;
	}
	position: relative;
}
.banner-wrapper {
	display: flex;
	padding-top: 38px;
	@include breakpoint(max-sm) {
		padding-top: 0;
	}
	.content {
		width: 100%;
		max-width: 631px;
		text-align: right;
		padding-top: 30px;
		h6 {
			color: var(--base);
			margin-bottom: 16px;
		}
		.title {
			margin-bottom: 26px;
			@include breakpoint(xl) {
				line-height: 88px;
			}
		}
	}
	.img {
		width: 0;
		flex-grow: 1;
		img {
			max-width: 692px;
			@include breakpoint(max-xxl) {
				max-width: 672px;
			}
			@include breakpoint(max-lg) {
				@include breakpoint(md) {
					width: 500px;
				}
			}
		}
	}
	@include breakpoint(max-xl) {
		@include breakpoint(lg) {
			.content {
				max-width: 480px;
				.title {
					font-size: 50px;
					line-height: 60px;
				}
			}
			.img {
				img {
					max-width: 540px;
				}
			}
		}
	}
	@include breakpoint(max-lg) {
		flex-wrap: wrap;
		row-gap: 100px;
		.content {
			width: 100%;
			text-align: left;
			order: -1;
		}
		.img {
			width: 100%;
			text-align: right;
			img {
				max-width: 100%;
			}
		}
	}
	@include breakpoint(max-sm) {
		row-gap: 100px;
		.img {
			padding-left: 46px;
			img {
				max-width: 100%;
			}
		}
	}
}
.banner-section {
	position: relative;
	z-index: 4;
	.leftShape {
		position: absolute;
		left: 0;
		top: -50px;
		max-width: 100%;
		@include breakpoint(max-xxl) {
			@include breakpoint(lg) {
				width: 43vw;
			}
		}
		@include breakpoint(max-lg) {
			width: 500px;
			top: 440px;
		}
		@include breakpoint(max-md) {
			width: 285px;
			top: 400px;
		}
		@include breakpoint(max-sm) {
			width: 265px;
			top: 282px;
		}
	}
	.rightShape {
		position: absolute;
		right: 0;
		top: 300px;
		max-width: 100%;
		@include breakpoint(max-xxl) {
			@include breakpoint(lg) {
				width: 33vw;
			}
		}
		@include breakpoint(max-lg) {
			width: 340px;
			top: 280px;
		}
		@include breakpoint(max-md) {
			width: 285px;
			top: 200px;
		}
		@include breakpoint(max-sm) {
			width: 265px;
			top: 82px;
		}
	}
}
.banner-booking-form {
	position: relative;
	z-index: 9;
	background: linear-gradient(
		265.67deg,
		rgba(252, 252, 253, 0.8) -3.26%,
		#fcfcfd 50.21%
	);
	box-shadow: 0px 64px 40px rgba(45, 41, 41, 0.08);
	border-radius: 24px;
	padding: 16px;
	.tab-menu {
		margin-bottom: 32px;
	}
	max-width: 986px;
}

.tab-menu {
	display: flex;
	flex-wrap: wrap;
	column-gap: 32px;
	row-gap: 12px;
	li {
		color: #a2a1a7;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		cursor: pointer;
		letter-spacing: 0.005em;
		&::after {
			content: "";
			bottom: -15px;
			height: 1px;
			width: 0;
			position: absolute;
			left: 0;
			transition: all ease 0.2s;
		}
		position: relative;
		&.active {
			color: var(--title);
			&::after {
				background: var(--title);
				width: 100%;
			}
		}
	}
}
.booking-form-row {
	display: flex;
	align-items: flex-end;
	.item:not(:first-child):where(:not(:last-child)) {
		padding-left: 16px;
		border-left: 1px solid #e9ebed;
	}
	.form-control {
		border: none;
		box-shadow: none;
		outline: none;
		padding-left: 26px;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
	}
	.item-title {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.005em;
		color: #09080d;
		display: block;
	}
	.item {
		.cmn-btn {
			display: flex;
			align-items: center;
		}
	}
	@include breakpoint(max-lg) {
		.item-title {
			font-size: 14px;
		}
	}
}
.connected-users {
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.005em;
	color: #09080d;
	margin-top: 48px;
	@include breakpoint(max-lg) {
		margin-top: 32px;
	}
	img {
		max-width: 100%;
	}
	gap: 15px;
	.count {
		position: absolute;
		font-weight: 500;
		color: #fcfcfd;
		right: 9px;
		top: 9px;
	}
}
.react-datepicker {
	.react-datepicker__header {
		background: var(--section);
	}
	border-color: var(--base);
	* {
		border-color: var(--border);
	}
}

.react-datepicker-popper[data-placement^="bottom"]
	.react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="bottom"]
	.react-datepicker__triangle::after {
	border-bottom-color: var(--base);
}
.react-datepicker-popper[data-placement^="top"]
	.react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="top"]
	.react-datepicker__triangle::after {
	border-top-color: var(--base);
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
	border-color: var(--base);
}
